@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto{
  font-size: 40px;
  text-transform: uppercase;
  background: linear-gradient(45deg,#52addfe6,#29ee38f0,#29ee8cf0,#29eee0f0,#52addfe6);
  background-size: 400% 100%;
  animation: degrade 10s infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}
@keyframes degrade{
  0%{
    background-position-x:0%;
  }
  100%{
    background-position: 400%;
  }
}